<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css?v=@ViewBag.Cacheversion" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css?v=@ViewBag.Cacheversion" />
	<link rel="stylesheet" href="~/css/Album/album.css?v=@ViewBag.Cacheversion" />

	<script defer src="~/lib/fontawesome/js/all.min.js?v=@ViewBag.Cacheversion"></script>
	<script defer src="~/lib/jquery/dist/jquery.min.js?v=@ViewBag.Cacheversion"></script>
	<script defer src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js?v=@ViewBag.Cacheversion"></script>
	<script defer src="~/lib/security/sha512.min.js?v=@ViewBag.Cacheversion"></script>
	<script defer src="~/js/Common/screenUtility.js?v=@ViewBag.Cacheversion"></script>
	<script defer src="~/js/Common/stringUtility.js?v=@ViewBag.Cacheversion"></script>
	<script defer src="~/js/Common/webServer.js?v=@ViewBag.Cacheversion"></script>

	<title>@ViewBag.PageTitle</title>
</head>
<body>
	@RenderBody()
</body>
</html>
