<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css?v=@ViewBag.Cacheversion" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css?v=@ViewBag.Cacheversion" />
	<link rel="stylesheet" href="~/css/commonLayout.css?v=@ViewBag.Cacheversion" />

	<script defer src="~/lib/fontawesome/js/all.min.js?v=@ViewBag.Cacheversion"></script>
	<script defer src="~/lib/jquery/dist/jquery.min.js?v=@ViewBag.Cacheversion"></script>
	<script defer src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js?v=@ViewBag.Cacheversion"></script>
	<script defer src="~/lib/moment/moment.js?v=@ViewBag.Cacheversion"></script>
	<script defer src="~/lib/security/sha512.min.js?v=@ViewBag.Cacheversion"></script>

	<script defer src="~/js/Common/screenUtility.js?v=@ViewBag.Cacheversion"></script>
	<script defer src="~/js/Common/stringUtility.js?v=@ViewBag.Cacheversion"></script>
	<script defer src="~/js/Common/webServer.js?v=@ViewBag.Cacheversion"></script>
	<script defer src="~/js/Common/format.js?v=@ViewBag.Cacheversion"></script>

	<title>Yoon's LAB</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm sticky-top navbar-blur">
		<div class="container">
			<a class="navbar-brand text-white fw-bold" href="#">
				<span id="selectedMenu"></span>
			</a>
			<button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav me-auto">

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-toolbox me-1"></i>Tools
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="/Laboratory/BaseConverter">
									<i class="fa-solid fa-right-left me-1"></i>&nbsp;Number Base Converter
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="/Laboratory/UrlConversion">
									<i class="fa-solid fa-link me-1"></i>&nbsp;URL Converter
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="/Laboratory/EncryptionTool">
									<i class="fa-solid fa-arrows-rotate"></i>&nbsp;Security Tool
								</a>
							</li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-gamepad me-1"></i>&nbsp;Games
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="/Laboratory/Tetris">
									<i class="fa-solid fa-th-large me-1"></i>Tetris
								</a>
							</li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	@{
		var excludedPaths = new[] { "/tetris", "/encryptiontool" };
		var currentPath = Context.Request.Path.Value ?? string.Empty;

		bool isExcluded = excludedPaths.Any(x => currentPath.IndexOf(x, StringComparison.OrdinalIgnoreCase) >= 0);
	}

	@if (!isExcluded)
	{
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3233977220678426" crossorigin="anonymous"></script>

		@* 수직형광고1 *@
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-3233977220678426"
			 data-ad-slot="8072160232"
			 data-ad-format="auto"
			 data-full-width-responsive="true"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	}

</body>
</html>
