@{
	Layout = "~/Views/Shared/_NoLoginLayout.cshtml";
}

<div class="wrapper">
	<div id="gameText" class="game-text">
		<span>Game Over</span>
		@*<input class="form-control recorder" id="recorder" placeholder="이름을 입력하세요." />*@
		<div class="row">
			<button class="btn btn-danger mr-2" id="restart">Restart</button>
			@*<button class="btn btn-success" id="record">Record</button>*@
		</div>
	</div>
	<div class="score">
		<span>Score: </span>
		<span id="score">0</span>
	</div>
	<div id="playground" class="playground">
		<ul></ul>
	</div>
	<div id="arrowButtons" class="start no-display">
		<div>
			<button id="left" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i></button>
			<button id="up" class="btn btn-primary"><i class="fa-solid fa-arrow-up"></i></button>
			<button id="down" class="btn btn-primary"><i class="fa-solid fa-arrow-down"></i></button>
			<button id="right" class="btn btn-primary"><i class="fa-solid fa-arrow-right"></i></button>
			<button id="space" class="btn btn-primary"><i class="fa-solid fa-arrows-down-to-line"></i></button>
		</div>
	</div>

	<div class="start">
		<button class="btn btn-primary" id="start">Start</button>
	</div>
</div>

<link rel="stylesheet" href="~/css/Tetris/tetris.css?v=@ViewBag.Cacheversion" />

<script defer src="~/js/Tetris/blocks.js?v=@ViewBag.Cacheversion"></script>
<script defer src="~/js/Tetris/tetris.js?v=@ViewBag.Cacheversion" type="module"></script>