@{
	Layout = "~/Views/Shared/_NoLoginLayout.cshtml";
}

<div class="container d-flex full-height">
	<div class="container py-5">
		<div class="card shadow-lg">
			<div class="card-header bg-primary text-white text-center">
				<h2><i class="fa-solid fa-shuffle"></i>&nbsp;URL Converter</h2>
			</div>
			<div class="card-body">
				<form>
					<div class="mb-3">
						<label for="plainText" class="form-label fw-bold">Plain Text</label>
						<textarea id="plainText" type="text" class="form-control" placeholder="Enter a plain text"></textarea>
					</div>

					<div class="mb-3">
						<label for="encodedUrl" class="form-label fw-bold">Encode URL</label>
						<textarea id="encodedUrl" type="text" class="form-control" placeholder="Enter a encoded url"></textarea>
					</div>

					<div class="mb-3">
						<label for="decodedUrl" class="form-label fw-bold">Decode URL</label>
						<textarea id="decodedUrl" type="text" class="form-control" placeholder="Enter an decoded url"></textarea>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script defer src="~/js/UrlConversion/UrlConversion.js?v=@ViewBag.Cacheversion"></script>