<!-- 주문 내역 -->
<div class="page-content" id="page-orders" >
	<div class="content-header">
		<div class="content-header-left">
			<span class="data-count" id="orderCount"></span>
		</div>
	</div>
	<div class="table-wrapper">
		<table class="data-table" id="orderTable">
			<thead>
				<tr>
					<th>주문번호</th>
					<th>종목</th>
					<th>구분</th>
					<th>주문가</th>
					<th>주문수량</th>
					<th>체결수량</th>
					<th>평균체결가</th>
					<th>상태</th>
					<th>예상비용</th>
					<th>순실현손익</th>
					<th>최종대사</th>
					<th>일시</th>
				</tr>
			</thead>
			<tbody id="orderTableBody"></tbody>
		</table>
		<div class="empty-state" id="orderEmpty">
			<i class="fas fa-inbox"></i>
			<p>주문 내역이 없습니다</p>
		</div>
	</div>
</div>

<script defer src="/js/Stock/orders.js?v=@ViewBag.CacheVersion"></script>
