.navbar-blur {
	backdrop-filter: blur(8px);
	background-color: rgba(13, 110, 253, 0.85);
}

.selected-menu {
	width: 250px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}